#Ex-01 Variables and Data Types: Accept two numbers, perform arithmetic, display results, and explore type conversion and memory management.

In [ ]:
# Accept two numbers from the user
num1 = int(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Arithmetic operations
print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)
print("Multiplication:", num1 * num2)
print("Division:", num1 / num2)

# Display data types
print("Data type of num1:", type(num1))
print("Data type of num2:", type(num2))

# Type conversion
num1_float = float(num1)
num2_int = int(num2)

print("num1 after converting to float:", num1_float)
print("num2 after converting to int:", num2_int)

# Memory management
print("Memory location of num1:", id(num1))
print("Memory location of num2:", id(num2))

Enter first number: 2
Enter second number: 3
Addition: 5.0
Subtraction: -1.0
Multiplication: 6.0
Division: 0.6666666666666666
Data type of num1: <class 'int'>
Data type of num2: <class 'float'>
num1 after converting to float: 2.0
num2 after converting to int: 3
Memory location of num1: 11654408
Memory location of num2: 132591400205680

# Ex-02 Control Flow and Exception Handling: Write a program to find the maximum of three numbers with exception handling for invalid inputs.

In [ ]:
try:
    # Accept three numbers
    a = int(input("Enter first number: "))
    b = int(input("Enter second number: "))
    c = int(input("Enter third number: "))

    # Control flow to find maximum
    if a >= b and a >= c:
        print("Maximum number:", a)
    elif b >= a and b >= c:
        print("Maximum number:", b)
    else:
        print("Maximum number:", c)

except ValueError:
    print("Error: Invalid input! Please enter integer values only.")

Enter first number: 3
Enter second number: 5
Enter third number: 7
Maximum number: 7

# Ex-03 Functions and Lambda Expressions: Implement a factorial function and filter even numbers using a lambda function.

In [ ]:
# Function to calculate factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Accept input from user
num = int(input("Enter a number: "))
print("Factorial of", num, "is:", factorial(num))

# Lambda function to filter even numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

print("Even numbers from the list:", even_numbers)

Enter a number: 5
Factorial of 5 is: 120
Even numbers from the list: [2, 4, 6, 8, 10]

# Ex-04 Data Structures: Develop a student record system using dictionaries and tuples, and explore set operations.

In [ ]:
# Accept student details using input()
roll_no = int(input("Enter Roll Number: "))
name = input("Enter Student Name: ")

mark1 = int(input("Enter Mark 1: "))
mark2 = int(input("Enter Mark 2: "))
mark3 = int(input("Enter Mark 3: "))

# Store marks in a tuple
marks = (mark1, mark2, mark3)

# Store student record in dictionary
student = {
    "Roll No": roll_no,
    "Name": name,
    "Marks": marks
}

# Display student details
print("\nStudent Details")
print("----------------")
print("Roll No :", student["Roll No"])
print("Name    :", student["Name"])
print("Marks   :", student["Marks"])

# Set operations
subjects_sem1 = set(input("\nEnter subjects of Semester 1 (comma separated): ").split(","))
subjects_sem2 = set(input("Enter subjects of Semester 2 (comma separated): ").split(","))

print("\nSet Operations")
print("----------------")
print("Union:", subjects_sem1 | subjects_sem2)
print("Intersection:", subjects_sem1 & subjects_sem2)
print("Difference (Sem1 - Sem2):", subjects_sem1 - subjects_sem2)

Enter Roll Number: 01
Enter Student Name: Mahi
Enter Mark 1: 95
Enter Mark 2: 96
Enter Mark 3: 89

Student Details
----------------
Roll No : 1
Name    : Mahi
Marks   : (95, 96, 89)

Enter subjects of Semester 1 (comma separated): ADSA, AINN, MFML
Enter subjects of Semester 2 (comma separated): OR, RM&IPR, SMY

Set Operations
----------------
Union: {' MFML', 'ADSA', ' SMY', ' AINN', 'OR', ' RM&IPR'}
Intersection: set()
Difference (Sem1 - Sem2): {' MFML', ' AINN', 'ADSA'}

# Ex-05 File Handling: Read a text file, count word frequency, and save results to a new file.

In [ ]:
# Accept file names from user
input_file = input("Enter input file name (with .txt): ")
output_file = input("Enter output file name (with .txt): ")

# Read the input file
with open(input_file, "r") as file:
    content = file.read().lower()
    words = content.split()

# Count word frequency
word_count = {}

for word in words:
    word_count[word] = word_count.get(word, 0) + 1

# Write word frequency to output file
with open(output_file, "w") as file:
    for word, count in word_count.items():
        file.write(f"{word} : {count}\n")

print("Word frequency successfully written to", output_file)

Enter input file name (with .txt): /content/input.txt
Enter output file name (with .txt): output.txt
Word frequency successfully written to output.txt